@import "../../assets/scss/patter.scss";
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500;600;700;800;900&display=swap");


h1 {
    @include titles;

}

section {
    .project {
        font-family: 'Saira', sans-serif;
        border-style: solid;
        border-width: 2px;
        background-color: transparent;
        border-image: linear-gradient(150deg, #080808 5%, #4525d2 50%, #080808 95%) 1;
        background: radial-gradient(ellipse at center, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0) 12%, rgba(8, 8, 8, 1) 64%, rgba(8, 8, 8, 1) 100%),
            url("../../assets/img/bgheader.svg");
        background-size: cover;
        transition: ease 0.3s;


        &:hover {
            background-size: cover;
            box-shadow: 0px 0px 14px 0px #3519e83c;
            border-image: linear-gradient(205deg, #080808 5%, #4525d2 50%, #080808 95%) 1;
        }

        .techs {
            color: #4525d2;
            font-size: 10px;
            letter-spacing: 0.5px;
        }

        h2 {
            letter-spacing: 1.3px;
        }


    }

    @media(max-width: 1282px){
        .project{
            h2{
                letter-spacing: 0.5px;
            }
        }
    }
}

.ViweAll {
    display: flex;
    justify-content: center;
    margin-top: 90px;

    button {
        @include btn;
        background-color: #4525d2;
        width: 50%;
        letter-spacing: 2.2px;

        &:hover {
            opacity: 0.9;
        }
    }

    @media(max-width: 1026px){
        button{
            width: 100%;
        }
    }
}