@mixin titles {

    letter-spacing: 1.3px;
    display: flex;
    align-items: center;


    &::before {

        content: "";
        width: 14px;
        height: 14px;
        background-color: #1a0cc5;
        position: absolute;
        rotate: 45deg;
        box-shadow: 0px 0px 14px 1px #3419e8;
        margin-left: -40px;
        margin-top: 10px;

        @media(max-width: 642px) {
            width: 10px;
            height: 10px;
            margin-top: 8px;
            margin-left: -35px;

        }

    }
}


/*BUTTONS*/
@mixin btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sfera;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 12px 38px;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(52deg, #080808 5%, #4525d2 50%, #080808 95%) 1;
    transition: ease 0.3s;

    &:hover {
        box-shadow: 0px 0px 14px 0px #3519e83c;
        border-image: linear-gradient(150deg, #080808 5%, #4525d2 50%, #080808 95%) 1;
    }

    &:focus {
        background-color: #4525d2;
        border-image: none;
        border: 2px #4525d2 solid;
    }


    @media(max-width: 642px){
        font-size: 10px;
        padding: 12px 34px;
    }
    @media(max-width: 376px){
        width: 100%;
        font-size: 8px;
    }
}


@mixin eclipse {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(0, 0, 152);
    background: linear-gradient(180deg, rgba(0, 0, 152, 1) 16%, rgba(53, 25, 231, 1) 86%);
    margin-top: 250px;
    filter: blur(165px);
    z-index: 0;
    margin-left: 150px;
}