@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500;600;700;800;900&display=swap");
@import "../../assets/scss/patter.scss";

h1 {
  letter-spacing: 1.3px;
  display: flex;
  align-items: center;

  &::before {
    @include befores;
  }
}


section{
  border: 3px #3419e8 solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding: 0 0 0 40px ;
  h2{
    color: #3419e8;
    font-size: 35px;
    font-family: sfera;
    text-shadow: 0px 0px 7px #3c1fdee3;  
  }
  p{
    font-family: 'Saira', sans-serif;
    font-size: 21px;
    margin-top: 13px;
    letter-spacing: 1px;
    
  }

}
