@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500;600;700;800;900&display=swap");
@import "../../assets/scss/patter.scss";

h1 {

  @include titles;

}


section {
  border: 3px $secondary-color solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding: 0 0 0 40px;

  h2 {
    color: $secondary-color;
    font-size: 35px;
    font-family: sfera;
    text-shadow: 0px 0px 7px #3c1fdee3;
  }

  p {
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    margin-top: 13px;
    letter-spacing: 1px;

  }

  @media(max-width: 1026px) {
    p {
      font-size: 19px;
    }
  }

  @media(max-width: 770px) {
    h2 {
      font-size: 29px;
    }

    p {
      font-size: 16px;
    }
  }

  @media(max-width: 642px) {
    padding: 0 0 0 12px;

    h2 {
      font-size: 21px;
    }

    p {
      font-size: 13px;
      letter-spacing: 0;
    }
  }

}