@import "../../assets/scss/patter.scss";
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500;600;700;800;900&display=swap");


h1 {
    letter-spacing: 1.3px;
    display: flex;
    align-items: center;

    &::before {
        @include befores;
    }
}

form {
    font-family: 'Saira', sans-serif;

    .sendForm {
        display: flex;
        justify-content: center;
        margin-top: 90px;

        button {
            @include btn;
            background-color: #4525d2;
            width: 100%;
            letter-spacing: 2.2px;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}