@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500;600;700&display=swap");
@import "../../assets/scss/patter.scss";

.bg {
  background: radial-gradient(ellipse at center, rgba(8,8,8,0) 0%, rgba(8,8,8,0) 16%, rgba(8,8,8,1) 72%, rgba(8,8,8,1) 100%),
    url("../../assets/img/bgheader.svg");
  margin-top: -100px;

  h1 {
    text-shadow: 5px 6px 18px rgba(244, 244, 244, 0.203);
  }

  .github {
    width: 37.5%;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        color: rgb(248, 248, 248);
        font-size: 38px;
      }

      span {
        letter-spacing: 1.4px;
        font-size: 13px;
      }
    }

    
  }

  button {
    gap: 15px;
    margin-top: 40px;
    width: 37.5%;
    background: rgb(52, 25, 232);
    background: linear-gradient(45deg, rgba(52, 25, 232, 1) 32%, rgba(69, 37, 210, 1) 78%);
    padding: 23px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
    transition: ease .3s;
    clip-path: polygon(2rem 0, calc(100% + 2rem) 0, calc(100% - 2rem) 100%, -2rem 100%);

    img {
      width: 21px;
      margin-top: 3px;
    }

    &:hover {
      opacity: 0.9;
      clip-path: polygon(-2rem 0, calc(100% + -2rem) 0, calc(100% + 2rem) 100%, 2rem 100%);

    }

    @media(max-width: 1282px) {
      width: 44%;
    }
    @media(max-width: 1026px){
      width: 60%;
    }
    @media(max-width: 770px){
      width: 100%;
    }

  }

  .eclipse {
    @include eclipse;
  }

  @media(max-width: 770px){
    .github{
      align-items: flex-start;
      div{
        flex-direction: row;
        gap: 30px;
  
        h2{
          font-size: 32px;
        }
        span{
          font-size: 12px;
        }
      }
    }

    .eclipse{
      margin-top: 85px;
    }
  }
  @media(max-width: 642px){
    a{
      padding: 17px 0;
      font-size: 12px;
      margin-top: 70px;
    }
    .eclipse{
      width: 150px;
      height: 150px;
      margin-top: -160px;
    }
  }

 

}


.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 80px;
  margin-top: 185px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  border-right: 2px solid #5935ee;
  border-bottom: 2px solid #5935ee;
  margin: 0 0 3px 4px;

  width: 16px;
  height: 16px;
}

.one {
  margin-top: 1px;
}

.one,
.two,
.three {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
}

.two {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -6px;
}

.three {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -6px;
}


@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}