@import url("https://fonts.googleapis.com/css2?family=Saira:wght@200;300;400;500;600;700;800;900&display=swap");
@import "../../assets/scss/patter.scss";

nav {
  background: linear-gradient(180deg, $background 0%, rgba(3, 9, 23, 0) 100%),
    linear-gradient(180deg, $background 0%, rgba(3, 9, 23, 0) 100%),
    linear-gradient(180deg, $background 0%, rgba(3, 9, 23, 0) 100%);
  ul {
    a {
      font-size: 14px;
      transition: ease 0.3s;
      &:hover {
        opacity: 0.9;
      }
      &:nth-child(1){
        --animate-delay: 0.3s;
      }
      &:nth-child(2){
        --animate-delay: 0.6s;
      }
      &:nth-child(3){
        --animate-delay: 0.9s;
      }
      &:nth-child(4){
        --animate-delay: 1.2s;
      }
      &:nth-child(5){
        --animate-delay: 1.5s;
      }
    }

    .menuMobile {
      .btnMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::before {
          content: "";
          width: 7px;
          height: 7px;
          background-color: $tertiary-color;
          position: absolute;
          rotate: 45deg;
          box-shadow: 0px 0px 14px 1px $secondary-color;
          margin-left: -20px;
          margin-top: 3px;
        }
      }

      .btnClose {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::before {
          content: "";
          width: 7px;
          height: 7px;
          background-color: #4b544b;
          position: absolute;
          rotate: 45deg;
          box-shadow: 0px 0px 14px 1px #4b544b6e;
          margin-left: -20px;
          margin-top: 3px;
        }
      }
    }
  }

  @media (max-width: 1026px) {
    ul {
      a {
        font-size: 12px;
      }
    }
  }
}
.menu {
  background-color: $background;
  margin-top: -200px;
  height: 999px;
  .links {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    a{
      &:nth-child(1){
        --animate-delay: 0.3s;
      }
      &:nth-child(2){
        --animate-delay: 0.6s;
      }
      &:nth-child(3){
        --animate-delay: 0.9s;
      }
      &:nth-child(4){
        --animate-delay: 1.2s;
      }
      &:nth-child(5){
        --animate-delay: 1.5s;
      }
      
    }
  }

  @media (min-width: 770px) {
    display: none;
  }
  @media (max-width: 770px) {
    margin-top: -90px;
  }

  @media (max-width: 642px) {
    .links {
      top: 38%;
    }
  }

  @media (max-width: 374px) {
    .links {
      top: 45%;
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}